{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block content %}

    <div class="col-lg-8">


        <div class="card">
            <div class="card-header">
                <h4>Exam {{ examen.name }}</h4>
            </div>
            <div class="card-body">
                {% for question in liste %}
                    {% if forloop.counter0 == i %}

                        <form method="post" action="{{ question.id }}">
                    {% elif forloop.counter == length %}
                        <form method="post" action="">
                    {% endif %}

                {% endfor %}

                {% csrf_token %}
                <input type="hidden" value="{{ quest.id }}" name="id">

                {% if quest.multi_choice_answer_set.all %}
                    <div class="col col-md-3"><label class=" form-control-label">{{ quest.description }}</label></div>
                    <div class="col col-md-9">
                        <div class="form-check">
                            {% for choix in quest.multi_choice_answer_set.all %}
                                <div class="radio">
                                    <label for="{{ choix.id }}" class="form-check-label ">
                                        {% if exist %}
                                            {% for reponse in listeSession %}
                                                {% if reponse.0 == quest.id %}
                                                    {% for selected in reponse.1 %}
                                                        <p>{{ selected }}</p>
                                                        <p>{{ choix.id }}</p>
                                                        {% ifequal selected choix.id %}<p>aaaaaa</p>
                                                            <input type="checkbox" name="radiosM" value="{{ choix.id }}"
                                                                   class="form-check-input" checked>
                                                            {{ choix.multi_variant }}
                                                        {% else %}<p>bbbbb</p>
                                                            <input type="checkbox" name="radiosM" value="{{ choix.id }}"
                                                                   class="form-check-input">{{ choix.multi_variant }}
                                                        {% endifequal %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <input type="checkbox" name="radiosM" value="{{ choix.id }}"
                                                   class="form-check-input">{{ choix.multi_variant }}
                                        {% endif %}
                                    </label>
                                </div>

                            {% endfor %}

                        </div>
                    </div>

                {% endif %}
                {% if quest.one_answer_set.all %}
                    <div class="col col-md-3"><label class=" form-control-label">{{ quest.description }}</label></div>
                    <div class="col col-md-9">
                        <div class="form-check">
                            {% for choix in quest.one_answer_set.all %}
                                <div class="radio">
                                    <label for="{{ choix.id }}" class="form-check-label ">
                                        {% if exist %}
                                            {% for reponse in listeSession %}
                                                {% if reponse.0 == quest.id %}
                                                    {% if reponse.1 == choix.id %}
                                                        <input type="radio" name="radios" value="{{ choix.id }}"
                                                               class="form-check-input" checked="checked">
                                                        {{ choix.answer_variant }}
                                                    {% else %}
                                                        <input type="radio" name="radios" value="{{ choix.id }}"
                                                               class="form-check-input">{{ choix.answer_variant }}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                        {% else %}
                                            <input type="radio" id="{{ choix.id }}" name="radios" value="{{ choix.id }}"
                                                   class="form-check-input">{{ choix.answer_variant }}
                                        {% endif %} </label>
                                </div>

                            {% endfor %}
                            <a href="#{{ question.id }}" class="btn btn-block ">{{ forloop.counter }}</a>

                        </div>
                    </div>

                {% endif %}
                {% if quest.free_text_set.all %}



                    {% for choix in quest.free_text_set.all %}
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="textarea-input"
                                                             class=" form-control-label">{{ quest.description }}</label>
                            </div>
                            <div class="col-12 col-md-9">

                                {% if exist %}
                                    {% for reponse in listeSession %}

                                        {% if reponse.0 == quest.id %}
                                            <textarea name="text" rows="9" placeholder="Content..."
                                                      class="form-control">{{ reponse.1 }}</textarea>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}<textarea name="text" id="textarea-input" rows="9" placeholder="Content..."
                                                    class="form-control"></textarea>
                                {% endif %}


                            </div>
                        </div>

                        <br>{% endfor %}


                {% endif %}
                <input id="timerr" type="hidden" value="{{ timerr }}" name="timerr">


                <center><input type="submit" value="submit" class="btn btn-danger" name="submit">
                </center>


                </form>
                {% if examen.mode == "T" or examen.mode == "TT" %}
                    <center>
                        <button class="btn btn-info" onclick="displayhint()">Hint</button>
                        <button class="btn btn-info" onclick="displayanswer()">Correct answer</button>

                    </center>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <strong>Questions</strong>
            </div>
            <div class="card-body">

                {% for question in liste %}

                    {% for id1 in l %}
                        {% if id1 == question.id %}
                            <a href="{{ question.id }}" class="btn  btn-danger"
                               style="margin:3px">{{ forloop.parentloop.counter }}</a>
                        {% endif %}
                    {% endfor %}
                    {% for id2 in listevider %}
                        {% if id2 == question.id %}

                            <a href="{{ question.id }}" class="btn  btn-success"
                               style="margin:3px">{{ forloop.parentloop.counter }}</a>
                        {% endif %}

                    {% endfor %}

                {% endfor %}

            </div>
        </div>
    </div>
    <center><a href="/exam/{{ examen_id }}/result" class="btn btn-block btn-primary">Finish</a></center>
    {% if examen.mode == "T" or examen.mode == "TT" %}
        <center><p id="hin" style="display: none">{{ quest.success_msg }}</p></center>
        <center><p id="correct" style="display: none">the correct answer is {{ quest.correct }}.</p></center>
        <center><p id="exp" style="display: none">Explanation : {{ quest.explanation }}.</p></center>

    {% endif %}
    {% if examen.mode != "T" %}
        <div id="mydiv">


            <div id="mydivheader">
                <div class="container">
                    <div id="countdown">
                        <div id='tiles'></div>
                        <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    {% endif %}






    <style>

        body {
            font: normal 13px/20px Arial, Helvetica, sans-serif;
            word-wrap: break-word;
            /* color: #eee;
            background: #353535; */
        }

        .container {
            position: relative;
            width: 50%;
        }

        #countdown {
            width: 465px;
            height: 112px;
            text-align: center;
            background: #222;
            background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
            background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
            background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
            background-image: -o-linear-gradient(top, #222, #333, #333, #222);
            border: 1px solid #111;
            border-radius: 5px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
            margin: auto;
            padding: 24px 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        #countdown:before {
            content: "";
            width: 8px;
            height: 65px;
            background: #444;
            background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
            background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
            background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
            background-image: -o-linear-gradient(top, #555, #444, #444, #555);
            border: 1px solid #111;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            display: block;
            position: absolute;
            top: 48px;
            left: -10px;
        }

        #countdown:after {
            content: "";
            width: 8px;
            height: 65px;
            background: #444;
            background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
            background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
            background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
            background-image: -o-linear-gradient(top, #555, #444, #444, #555);
            border: 1px solid #111;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            display: block;
            position: absolute;
            top: 48px;
            right: -10px;
        }

        #countdown #tiles {
            position: relative;
            z-index: 1;
        }

        #countdown #tiles > span {
            width: 92px;
            max-width: 92px;
            font: bold 48px 'Droid Sans', Arial, sans-serif;
            text-align: center;
            color: #111;
            background-color: #ddd;
            background-image: -webkit-linear-gradient(top, #bbb, #eee);
            background-image: -moz-linear-gradient(top, #bbb, #eee);
            background-image: -ms-linear-gradient(top, #bbb, #eee);
            background-image: -o-linear-gradient(top, #bbb, #eee);
            border-top: 1px solid #fff;
            border-radius: 3px;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
            margin: 0 7px;
            padding: 18px 0;
            display: inline-block;
            position: relative;
        }

        #countdown #tiles > span:before {
            content: "";
            width: 100%;
            height: 13px;
            background: #111;
            display: block;
            padding: 0 3px;
            position: absolute;
            top: 41%;
            left: -3px;
            z-index: -1;
        }

        #countdown #tiles > span:after {
            content: "";
            width: 100%;
            height: 1px;
            background: #eee;
            border-top: 1px solid #333;
            display: block;
            position: absolute;
            top: 48%;
            left: 0;
        }

        #countdown .labels {
            width: 100%;
            height: 25px;
            text-align: center;
            position: absolute;
            bottom: 8px;
        }

        #countdown .labels li {
            width: 102px;
            font: bold 15px 'Droid Sans', Arial, sans-serif;
            color: #f47321;
            text-shadow: 1px 1px 0px #000;
            text-align: center;
            text-transform: uppercase;
            display: inline-block;
        }

        #mydiv {
            position: absolute;
            z-index: 9;
            background-color: #f1f1f1;
            border: 1px solid #d3d3d3;
            text-align: center;
        }

        #mydivheader {
            padding: 10px;
            cursor: move;
            z-index: 10;
            background-color: #2196F3;
            color: #fff;
        }

    </style>


    <script>function displayhint() {
        var p = document.getElementById("hin");
        p.style.display = "block";
    }</script>
    <script>function displayanswer() {
        var p = document.getElementById("correct");
        p.style.display = "block";
         var e = document.getElementById("exp");
        e.style.display = "block";
    }</script>

    <script>
        // Set the date we're counting down to
        if ("{{first}}" == 1) {

            var Timer = 60 * 60 * 10 * 1000;
            var countDownDate = new Date();
            countDownDate.setTime(countDownDate.getTime() + Timer);
            val = countDownDate + "";
            document.getElementById('timerr').value = countDownDate;
        }
        else {
            var countDownDate = new Date(document.getElementById('timerr').value);
        }

        function getCountdown() {

            // find the amount of "seconds" between now and target
            var now = new Date().getTime();
            var distance = (countDownDate - now);

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);


            countdown.innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>";

            if (distance < 0) {

                window.stop();

                window.location.href = "/exam/{{examen_id}}/result";
            }


        }


        var countdown = document.getElementById("tiles"); // get tag element

        getCountdown();

        setInterval(function () {
            getCountdown();


        }, 1000);


    </script>

    <script>


        dragElement(document.getElementById("mydiv"));

        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
                /* if present, the header is where you move the DIV from:*/
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            } else {
                /* otherwise, move the DIV from anywhere inside the DIV:*/
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {
                /* stop moving when mouse button is released:*/
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }

    </script>

{% endblock %}
