<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static '/assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/cs-skin-elastic.css' %}">

    <link rel="stylesheet" href="{% static '/assets/scss/style.css' %}">

    <link href="{% static '/assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">


    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


</head>
<body>


<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="{% static '/img/GTA.png' %}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="{% static '/img/GTA.png' %}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/dashboard"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <h3 class="menu-title">INTRO</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>About Us</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-facebook-square"></i><a
                                href="https://www.facebook.com/profile.php?id=100014847181191">Facebook</a></li>
                        <li><i class="fa fa-youtube-play"></i><a
                                href="https://www.youtube.com/channel/UC5oug12OwpG3-M0SpWUxNnA">Youtube</a></li>
                        <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/anis-hachani-546bb13a">Youtube</a>
                        </li>

                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Standars</a>

                </li>

                {% if 'id' in request.session %}


                    <h3 class="menu-title">Exams</h3><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Exam Center</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-refresh fa-spin"></i><a href="/exam/">Exams</a></li>

                            <li><i class="fa fa-refresh fa-spin"></i><a href="{% url 'createyard' %}">Create
                                classroom</a></li>
                            <li><i class="fa fa-refresh fa-spin"></i><a href="{% url 'create_view' %}">Create exam</a>
                            </li>
                            <li><i class="fa fa-refresh fa-spin"></i><a href="/exam/secondeQuest/"> create Quest</a>
                            </li>
                            <li><i class="fa fa-refresh fa-spin"></i><a href="{% url 'sendemail' %}"> Invite Student</a></li>
                            <li><i class="fa fa-refresh fa-spin"></i><a href="/exam/finished_exam/">finished exam</a></li>

                            </li>

                        </ul>
                    </li>

                {% endif %}

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                        <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>


<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                   aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">5</span>
                        </button>

                    </div>

                    <div class="dropdown for-message">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-email"></i>
                            <span class="count bg-primary">9</span>
                        </button>

                    </div>

                    <style>
                        .label {
                            color: white;
                            padding: 8px;
                            font-family: Arial;
                        }

                        .success {
                            background-color: #4CAF50;
                        }

                        /* Green */
                        .info {
                            background-color: #2196F3;
                        }

                        /* Blue */
                        .warning {
                            background-color: #ff9800;
                        }

                        /* Orange */
                        .danger {
                            background-color: #f44336;
                        }

                        /* Red */
                        .other {
                            background-color: #e7e7e7;
                            color: black;
                        }

                        /* Gray */
                    </style>

                    {% if 'id' in request.session %}
                        <div class="dropdown for-message">
                            {% if is_prof is True %}
                                <span class="label success">You are logged in as a Professor</span>
                            {% endif %}
                            {% if is_prof is False %}
                                <span class="label warning">You are logged in as a Student</span>
                            {% endif %}
                        </div>
                    {% endif %}


                    <ul class="nav nav-pills">
                        <li role="presentation"><h3>GTA Quiz App</h3></li>
                        <li role="presentation"><a href="/">Home</a></li>
                        <li role="presentation"><a href="/users/edit">Edit Profile</a></li>
                        {% if 'id' not in request.session %}
                            <li role="presentation" class="move-right"><a href="{% url 'my_signin' %}">Sign In</a></li>
                        {% else %}
                            <li role="presentation" class="move-right"><a href="{% url 'my_logoff' %}">Log off</a></li>
                        {% endif %}
                    </ul>


                </div>
            </div>


            <script src="{% static '/assets/jquery.js' %}"></script>
            <script src="{% static '/assets/jquery.simple.timer.js' %}"></script>
            <script src="{% static '/assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
            <script src="{% static '/assets/js/plugins.js' %}"></script>
            <script src="{% static '/assets/js/main.js' %}"></script>


            <script src="{% static '/assets/js/lib/chart-js/Chart.bundle.js' %}"></script>
            <script src="{% static '/assets/js/dashboard.js' %}"></script>
            <script src="{% static '/assets/js/widgets.js' %}"></script>
            <script src="{% static '/assets/js/lib/vector-map/jquery.vmap.js' %}"></script>
            <script src="{% static '/assets/js/lib/vector-map/jquery.vmap.min.js' %}"></script>
            <script src="{% static '/assets/js/lib/vector-map/jquery.vmap.sampledata.js' %}"></script>
            <script src="{% static '/assets/js/lib/vector-map/country/jquery.vmap.world.js' %}"></script>
            <script>
                (function ($) {
                    "use strict";

                    jQuery('#vmap').vectorMap({
                        map: 'world_en',
                        backgroundColor: null,
                        color: '#ffffff',
                        hoverOpacity: 0.7,
                        selectedColor: '#1de9b6',
                        enableZoom: true,
                        showTooltip: true,
                        values: sample_data,
                        scaleColors: ['#1de9b6', '#03a9f5'],
                        normalizeFunction: 'polynomial'
                    });
                })(jQuery);
            </script>


            <div class="content mt-3">
                {% block content %}


                {% endblock %}
            </div>


</body>
</html>
